<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="/static/css/notFnd.css">
</head>
<body>
<div class="container">
    <div class="center-content">
        <img src="/static/media/notfnd.gif" alt="Page Not Found" class="center-gif">
        <p class="message">Похоже, такой страницы не существует!</p>
        <a href="/home" class="back-button">Вернуться на главную</a>
    </div>
</div>
</body>
</html>
