body {
    background-color: #FFF0F5;
    font-family: 'Anonymous Pro', monospace;
    margin: 0; /* Убираем отступы у body */
}

.bl_1 img {
    min-width: 200px;
    max-width: 350px;
    width: 70%;
}

.bl_1 {
    background-color: #e0f7fa;
    min-height: 700px;

}

.bl_2 {
    background-color: #c8e6c9;
    min-height: 500px;
}

.bl_2 img {
    min-width: 120px;
    max-width: 200px;
    width: 60%;
}

.container {
    margin: 0; /* Убираем внешние отступы */
    max-width: 100%; /* Контейнер растягивается на всю ширину */
}
.bl_3 {
    background-color: #c9e79c;
    height: 500px; /* Задайте высоту карты */
}
.carousel-item{
    margin: 0; /* Убираем внешние отступы */
    max-width: 100%; /* Контейнер растягивается на всю ширину */
    height: 200px;
}
.carousel{
    margin: 0; /* Убираем внешние отступы */
    max-width: 100%; /* Контейнер растягивается на всю ширину */
    padding: 0;
}
.bl4{
    height:auto;
    background: #7b89ff;
}