<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reiner Force VPN</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
    <link href="/static/css/mainp.css" rel="stylesheet" />

</head>
<body>

<form action="/authorization" target="_blank">
    <button  id="account-btn">Личный кабинет</button>
</form>

<section id="block1" class="block">
    <div class="container">
        <div class="left">
            <div class="highlight-image-wrapper">
                <img src="/static/media/лого.png" alt="VPN" class="highlight-image">
            </div>
        </div>
        <div class="right">
            <h2>Почему Reiner Force VPN?</h2>
            <ul class="benefits">
                <li><span>🛡️</span> Высокая безопасность</li>
                <li><span>⚡</span> Быстрая скорость соединения</li>
                <li><span>🌍</span> Широкий выбор серверов по всему миру</li>
                <li><span>🔒</span> Защита данных и конфиденциальность</li>
            </ul>
        </div>
    </div>
</section>

<section id="block2" class="block">
    <div class="container">
        <div class="left">
            <img src="/static/media/wireguard.png" alt="WireGuard" class="middle-image">
            <h2>WireGuard</h2>
            <ul class="benefits">
                <li><span>🔐</span> Современный протокол безопасности</li>
                <li><span>⚙️</span> Высокая производительность</li>
                <li><span>📡</span> Низкие требования к ресурсам</li>
            </ul>
        </div>
        <div class="right">
            <img src="/static/media/shadow.png" alt="Shadowsocks" class="middle-image">
            <h2>Shadowsocks</h2>
            <ul class="benefits">
                <li><span>🌐</span> Обход блокировок</li>
                <li><span>📈</span> Быстрое подключение</li>
                <li><span>🛠️</span> Легкая настройка</li>
            </ul>
        </div>
    </div>
</section>

<section id="block3" class="block">
    <div id="map"></div>
</section>


<section id="block4" class="block">
    <div class="container-center">
        <h2>Наши предложения</h2>
        <div class="carousel">
            {{range .}}
                <div class="item">
                    <h3>{{.Name}}</h3>
                    <p>Продожительность : {{.Term}} дней</p>
                    <p>Цена : {{.Price}} рублей</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>

<script src="/static/js/mainp.js"></script>
</body>
</html>
